body {
    background-color: #f8d7f1;
    max-width: 700px;
    margin: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    color: rgb(16, 5, 15);
    text-align: center;
    padding: 10px;
    line-height: 1.5;
}

form {
    padding: 30px;
    background-color: #fdf2ff;
    border-radius: 15px;
    display: flex;
    margin-bottom: 30px;
}
.prompt {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 30px;
    width: 80%;
    color: gray;
}
.submit-button {
    padding: 10px 20px;
    margin-left: 10px;
    font-size: 16px;
    background-color: #ff9bcf;
    color: #333;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 100px;
}

.recipe {
    font-size: 14px;
    background-color: #fff8fb;
    padding: 15px 20px;
    line-height: 1.6;
    border-left: 3px solid #971c83;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    white-space: pre-line; 
}

.hidden {
    display: none;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

.loading {
    animation: blink-animation 1s steps(5, start) infinite;

}

footer {
    margin-top: 30px;
    font-size: 13px;
    color: black;
}