body {
    background-color: #c040aa;
    max-width: 700px;
    margin: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    color: rgb(239, 185, 237);
    text-align: center;
    padding: 10px;
    line-height: 1.5;
}

form {
    padding: 30px;
    background-color: #f3d1f4;
    border-radius: 15px;
    display: flex;
    margin-bottom: 30px;
}
.prompt {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 30px;
    width: 80%;
    color: gray;
}
.submit-button {
    padding: 10px 20px;
    margin-left: 10px;
    font-size: 16px;
    background-color: #e555cd;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 100px;
}

.recipe {
    font-size: 14px;
    background-color: #f3d1f4;
    padding: 20px;
    line-height: 2;
    border-left: 3px solid #971c83;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

footer {
    margin-top: 30px;
    font-size: 13px;
    color: white;
}